#header {
	background-color: red; 
	height: 100px;
}

.changeColorBtn {
	background-color: #cdfeff;
	height: 50px;
	width: 120px;
	border-radius: 10px;
	display: block;
	margin:  10px auto;
	cursor: pointer;
}

form > label {
	font-weight: bold;

}
input {
	padding: 5px;
	min-width: 300px;
	display: block;
	margin: 3px;
}

h1 {
	font-style: italic;
	font-size: 22px;
	border-bottom: 1px solid grey;
}